body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flexible-container {
  display: flex;
  padding-left: 7%;
  padding-bottom: 50px;
}

h1 {
  font-size: 70px;
  line-height: 30px;
}

p {
  font-size: 30px;
}

.order-page {
  padding-top: 100px;
}

.order-page p {
  width: 70%;
}

.common-width {
  width: 50%;
}

.order-img {
  width: 90%;
}


.contact-part {
  background-image: url("/images/shapes/Frame\ 57.jpg");
  background-size: 100%;
}

.contact-img {
  width: 40%;
  padding-left: 150px;
  padding-top: 10%;
}